@import '../variables.scss';
@import '../mixins.scss';
.bg-image-first-page {
    background-image: url('../../assets/images/bg-image-first-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color-first-page {
    background-color: $bg-color-first-page;
}

.first-page-intro {
    padding: 200px 0 197px;
    .first-page-text {
        margin: 13px 0 22px;
    }
}

.second-page-wrapper-title {
    margin: 95px 0 70px;
}

.line-reverse-T {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 50px;
    .vertical-line {
        width: 2px;
        height: 90px;
        background-color: $bg-color-line-alternative;
    }
    .horizontal-line {
        width: 90px;
        height: 2px;
        background-color: $bg-color-line-alternative;
    }
}

.wrapper-little-cards {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    column-gap: 5%;
    row-gap: 60px;
    width: 100%;
    margin: 65px 0 130px;
    .little-card {
        .icon-little-card {
            display: flex;
            align-items: center;
            .title-little-card {
                margin-left: 25px;
            }
        }
        .text-little-card {
            margin-top: 20px;
        }
        .margin {
            margin-top: 15px;
        }
    }
}

.third-page {
    background-color: $FOREST-WOLF;
    padding-top: 75px;
}

.third-page-title {
    margin-bottom: 20px;
}

.wrapper-third-page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content-img {
        width: 435px;
        height: 488px;
        background-image: url('../assets/images/third-image-smartphone-in-hand.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: -73px 0;
    }
    .third-page-content {
        width: 50%;
        .content-title {
            @include get-title-alternative(32px,
            300,
            );
            margin-bottom: 15px;
        }
        .content-text {
            margin-bottom: 20px;
        }
    }
}

.fourth-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0;
}

.fourth-content {
    width: 50%;
    .main {
        margin-bottom: 28px;
        @include get-text-alternative;
    }
    .name {
        @include get-text (14px,
        500,
        22px,
        left,
        $DARK-YELLOW-GREEN);
    }
}

.wrapper-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url('../assets/images/fourth-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fifth-page {
    background-color: $FOREST-WOLF;
    padding: 60px 0;
    .fifth-bg-image {
        position: absolute;
        right: 0;
        width: 50%;
        height: 390px;
        background-image: url('../assets/images/fifth-map-image.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.fifth-content {
    width: 50%;
    margin: 117.5px 0;
    .fifth-page-title {
        margin-bottom: 17px;
        @include get-title-alternative(32px,
        300,
        );
    }
    .fifth-page-text {
        @include get-text (14px,
        400,
        24px);
    }
}

.sixth-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 95px 0;
}

.sixth-wrapper-cards {
    margin: 40px auto 78px;
}

.sixth-page-wrapper-list-title {
    .sixth-page-list-title {
        @include get-title-alternative (22px,
        300,
        20px,
        $DARK-TIRQUOISE);
    }
}

.sixth-page-wrapper-list {
    margin: 20px 0 54px;
}

.sixth-page-wrapper-title-alternative {
    margin-bottom: 35px;
}

a.sixth-page-email {
    @include get-text (18px,
    400,
    20px,
    left,
    $color: $DARK-TIRQUOISE);
}

.seventh-page-poster-bg {
    background-image: url('../assets/images/seventh-bg-image.jpg');
}