.bg-image-first-page {
  background-image: url("../../assets/images/bg-image-first-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-first-page {
  background-color: rgba(45, 110, 112, 0.9);
}

.first-page-intro {
  padding: 200px 0 197px;
}
.first-page-intro .first-page-text {
  margin: 13px 0 22px;
}

.second-page-wrapper-title {
  margin: 95px 0 70px;
}

.line-reverse-T {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 50px;
}
.line-reverse-T .vertical-line {
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
}
.line-reverse-T .horizontal-line {
  width: 90px;
  height: 2px;
  background-color: #f2f2f2;
}

.wrapper-little-cards {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 60px;
  width: 100%;
  margin: 65px 0 130px;
}
.wrapper-little-cards .little-card .icon-little-card {
  display: flex;
  align-items: center;
}
.wrapper-little-cards .little-card .icon-little-card .title-little-card {
  margin-left: 25px;
}
.wrapper-little-cards .little-card .text-little-card {
  margin-top: 20px;
}
.wrapper-little-cards .little-card .margin {
  margin-top: 15px;
}

.third-page {
  background-color: #eef1ec;
  padding-top: 75px;
}

.third-page-title {
  margin-bottom: 20px;
}

.wrapper-third-page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper-third-page-content .content-img {
  width: 435px;
  height: 488px;
  background-image: url("../assets/images/third-image-smartphone-in-hand.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -73px 0;
}
.wrapper-third-page-content .third-page-content {
  width: 50%;
}
.wrapper-third-page-content .third-page-content .content-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
  margin-bottom: 15px;
}
.wrapper-third-page-content .third-page-content .content-text {
  margin-bottom: 20px;
}

.fourth-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0;
}

.fourth-content {
  width: 50%;
}
.fourth-content .main {
  margin-bottom: 28px;
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  color: #83a7a5;
}
.fourth-content .name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #6fb048;
}

.wrapper-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url("../assets/images/fourth-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fifth-page {
  background-color: #eef1ec;
  padding: 60px 0;
}
.fifth-page .fifth-bg-image {
  position: absolute;
  right: 0;
  width: 50%;
  height: 390px;
  background-image: url("../assets/images/fifth-map-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth-content {
  width: 50%;
  margin: 117.5px 0;
}
.fifth-content .fifth-page-title {
  margin-bottom: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}
.fifth-content .fifth-page-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #83a7a5;
}

.sixth-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0;
}

.sixth-wrapper-cards {
  margin: 40px auto 78px;
}

.sixth-page-wrapper-list-title .sixth-page-list-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.sixth-page-wrapper-list {
  margin: 20px 0 54px;
}

.sixth-page-wrapper-title-alternative {
  margin-bottom: 35px;
}

a.sixth-page-email {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.seventh-page-poster-bg {
  background-image: url("../assets/images/seventh-bg-image.jpg");
}/*# sourceMappingURL=home.css.map */