@import '../variables.scss';
@import '../mixins.scss';
@media (min-width:320px) and (max-width:450px) {
    .header-basic {
        .right {
            height: 0;
            overflow: hidden;
        }
        .nav-basic {
            position: fixed;
            background: $DARK-TIRQUOISE;
            z-index: 40;
            top: 0;
            left: -100%;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            li:first-child {
                margin-top: 150px;
            }
        }
        .nav-basic-alternative {
            position: fixed;
            background: $DARK-TIRQUOISE;
            z-index: 40;
            top: 0;
            left: -100%;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            li:first-child {
                margin-top: 150px;
            }
        }
        .toggle {
            position: absolute;
            top: 28px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .line {
                width: 80%;
                height: 2px;
                background: $DARK-YELLOW-GREEN;
                margin: 3px 0;
            }
        }
        &.collapsed {
            .logo-phone-basic {
                position: fixed;
                top: 32px;
                left: 30%;
                z-index: 44;
                flex-direction: column;
                .logo-basic {
                    flex-direction: column;
                    color: $WHITE;
                    &::after {
                        content: '';
                        display: block;
                        width: 20px;
                        height: 1px;
                        background-color: $bg-color-line;
                        margin: 10px 0;
                    }
                }
            }
            .nav-basic {
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                li {
                    margin-bottom: 50px;
                }
            }
            .nav-basic-alternative {
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                li {
                    margin-bottom: 50px;
                }
            }
            .right {
                position: fixed;
                text-align: center;
                height: auto;
                top: 70vh;
                left: 50vw;
                transform: translateX(-50%);
                z-index: 45;
            }
            .toggle {
                position: fixed;
                top: 35px;
                .line1 {
                    transform: rotate(45deg) translateY(5px);
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(-45deg) translateY(-5.5px);
                }
            }
        }
    }
    .intro-basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first-page-intro {
        padding: 50px 0 90px;
    }
    .wrapper-title-basic {
        .title-basic {
            @include get-title ($font-size: 26px);
            line-height: 100%;
        }
    }
    .second-page-wrapper-title {
        margin: 55px 0 30px;
    }
    .wrapper-big-cards-basic {
        flex-direction: column;
        width: 100%;
        .big-card-basic {
            width: 100%;
            margin-bottom: 30px;
            .big-card-title-basic {
                margin: 15px 0 10px;
            }
        }
    }
    .line-reverse-T {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 25px;
        .vertical-line {
            width: 2px;
            height: 30px;
            background-color: $bg-color-line-alternative;
        }
        .horizontal-line {
            width: 150px;
            height: 2px;
            background-color: $bg-color-line-alternative;
        }
    }
    .wrapper-little-cards {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;
        width: 100%;
        margin: 30px 0 45px;
        .little-card {
            .text-little-card {
                margin-top: 10px;
            }
        }
    }
    .third-page {
        padding: 45px 0;
    }
    .wrapper-third-page-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .content-img {
            width: 100%;
            height: 300px;
            background-size: cover;
        }
        .third-page-content {
            width: 100%;
            margin-top: 20px;
            .content-title {
                @include get-title-alternative(22px, 300);
            }
        }
    }
    .fourth-page {
        flex-direction: column-reverse;
        padding: 45px 0;
        .fourth-content {
            width: 100%;
            .main {
                @include get-text-alternative(16px);
            }
        }
    }
    .wrapper-image {
        width: 200px;
        height: 200px;
    }
    .fifth-page {
        padding: 45px 0;
        .fifth-bg-image {
            height: 390px;
        }
    }
    .fifth-content {
        width: 100%;
        margin: 88px 0;
        .fifth-page-title {
            @include get-title-alternative(22px, 300);
        }
    }
    .sixth-page {
        padding: 45px 0;
    }
    .sixth-wrapper-cards {
        margin: 40px auto;
    }
    .sixth-page-wrapper-list {
        margin: 20px 0;
    }
    .wrapper-price-cards-basic {
        width: 75%;
        flex-direction: column;
        .price-card-basic {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid $bg-color-line-border;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .wrapper-list-basic {
        display: grid;
        grid-template-columns: 100%;
    }
    .wrapper-special-title-basic {
        .special-title-basic {
            @include get-title-alternative (26px, 300, 20px, $color: $DARK-YELLOW-GREEN);
        }
        .special-subtitle-basic {
            width: 100%;
        }
    }
    .poster-basic {
        .poster-page-basic {
            flex-direction: column;
            padding: 45px 0;
            .wrapper-poster-title-basic {
                .poster-title-basic {
                    @include get-title-alternative (24px, 300, 22px, $color: $DARK-TIRQUOISE);
                }
                .poster-subtitle-basic {
                    margin: 10px 0;
                }
            }
        }
    }
    .info-page-basic {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 200px);
        padding: 45px 0;
        .wrapper-info-basic {
            align-items: center;
            width: 100%;
        }
    }
    .footer-basic {
        .wrapper-icon-basic {
            width: 50%;
        }
    }
    .about-us-first-page-intro {
        padding: 50px 0;
        .about-us-first-page-title {
            width: 80%;
            margin-bottom: 35px;
            @include get-intro-title (26px, 300, center);
        }
    }
    .about-us-wrapper-big-cards-basic {
        margin-bottom: 45px;
    }
    .about-us-third-page {
        padding-top: 45px;
    }
    .about-us-wrapper-third-page-content {
        flex-direction: column;
        padding: 35px 0 45px;
    }
    .contact-us-wrapper-title {
        margin: 45px 0;
    }
    .contact-us-content {
        width: 100%;
        flex-direction: column;
        .contact-us-wrapper-form {
            width: 100%;
            margin-bottom: 20px;
        }
        .contact-us-headquarter {
            width: 100%;
        }
    }
}