@import '../variables.scss';
@import '../mixins.scss';
@media (min-width: 450px) and (max-width: 850px) {
    .header-basic {
        .right {
            height: 0;
            overflow: hidden;
        }
        .nav-basic {
            position: fixed;
            background: $DARK-TIRQUOISE;
            z-index: 40;
            top: 0;
            left: -100%;
            flex-direction: column;
            width: 45vw;
            height: 100vh;
            li:first-child {
                margin-top: 150px;
            }
        }
        .nav-basic-alternative {
            position: fixed;
            background: $DARK-TIRQUOISE;
            z-index: 40;
            top: 0;
            left: -100%;
            flex-direction: column;
            width: 45vw;
            height: 100vh;
            li:first-child {
                margin-top: 150px;
            }
        }
        .toggle {
            position: absolute;
            top: 28px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .line {
                width: 80%;
                height: 2px;
                background: $DARK-YELLOW-GREEN;
                margin: 3px 0;
            }
        }
        &.collapsed {
            .logo-phone-basic {
                position: fixed;
                top: 32px;
                left: 10%;
                z-index: 44;
                flex-direction: column;
                .logo-basic {
                    flex-direction: column;
                    color: $WHITE;
                    &::after {
                        content: '';
                        display: block;
                        width: 20px;
                        height: 1px;
                        background-color: $bg-color-line;
                        margin: 10px 0;
                    }
                }
            }
            .nav-basic {
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                li {
                    margin-bottom: 50px;
                }
            }
            .nav-basic-alternative {
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                li {
                    margin-bottom: 50px;
                }
            }
            .right {
                position: fixed;
                text-align: center;
                height: auto;
                bottom: 40px;
                left: 22.5vw;
                transform: translateX(-50%);
                z-index: 45;
            }
            .toggle {
                position: fixed;
                top: 35px;
                left: 35%;
                .line1 {
                    transform: rotate(45deg) translateY(5px);
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(-45deg) translateY(-5.5px);
                }
            }
        }
    }
    .first-page-intro {
        padding: 100px 0;
    }
    .wrapper-title-basic {
        .title-basic {
            line-height: 100%;
        }
    }
    .wrapper-big-cards-basic {
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        .big-card-basic {
            width: 100%;
            margin-bottom: 30px;
            .big-card-title-basic {
                margin: 15px 0 10px;
            }
        }
    }
    .line-reverse-T {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 25px;
        .vertical-line {
            width: 2px;
            height: 30px;
            background-color: $bg-color-line-alternative;
        }
        .horizontal-line {
            width: 150px;
            height: 2px;
            background-color: $bg-color-line-alternative;
        }
    }
    .wrapper-third-page-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 70px;
        .content-img {
            width: 100%;
            height: 400px;
            background-size: cover;
        }
        .third-page-content {
            width: 100%;
            margin-top: 20px;
        }
    }
    .fourth-page {
        flex-direction: column-reverse;
        padding: 65px 0;
    }
    .fourth-content {
        width: 100%;
    }
    .wrapper-image {
        width: 300px;
        height: 300px;
    }
    .fifth-content {
        width: 100%;
        margin: 88px 0;
    }
    .wrapper-price-cards-basic {
        width: 100%;
        .price-card-basic {
            width: 100%;
        }
    }
    .wrapper-list-basic {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        column-gap: 45px;
    }
    .poster-basic {
        .poster-page-basic {
            flex-direction: column;
            padding: 45px 0;
            .wrapper-poster-title-basic {
                .poster-subtitle-basic {
                    margin: 10px 0;
                }
            }
        }
    }
    .info-page-basic {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 200px);
        padding: 45px 0;
        .wrapper-info-basic {
            align-items: center;
            width: 100%;
        }
    }
    .footer-basic {
        .wrapper-icon-basic {
            justify-content: flex-end;
            width: 50%;
            .icon-basic {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .about-us-wrapper-third-page-content {
        flex-direction: column;
        padding: 55px 0 75px;
    }
    .contact-us-wrapper-title {
        margin: 45px 0;
    }
    .contact-us-content {
        width: 100%;
        .contact-us-headquarter {
            margin-left: 10px;
        }
    }
}