@media (min-width: 320px) and (max-width: 450px) {
  .header-basic .right {
    height: 0;
    overflow: hidden;
  }
  .header-basic .nav-basic {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .header-basic .nav-basic li:first-child {
    margin-top: 150px;
  }
  .header-basic .nav-basic-alternative {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .header-basic .nav-basic-alternative li:first-child {
    margin-top: 150px;
  }
  .header-basic .toggle {
    position: absolute;
    top: 28px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-basic .toggle .line {
    width: 80%;
    height: 2px;
    background: #6fb048;
    margin: 3px 0;
  }
  .header-basic.collapsed .logo-phone-basic {
    position: fixed;
    top: 32px;
    left: 30%;
    z-index: 44;
    flex-direction: column;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic {
    flex-direction: column;
    color: white;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
  }
  .header-basic.collapsed .nav-basic {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .nav-basic-alternative {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic-alternative li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .right {
    position: fixed;
    text-align: center;
    height: auto;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .header-basic.collapsed .toggle {
    position: fixed;
    top: 35px;
  }
  .header-basic.collapsed .toggle .line1 {
    transform: rotate(45deg) translateY(5px);
  }
  .header-basic.collapsed .toggle .line2 {
    opacity: 0;
  }
  .header-basic.collapsed .toggle .line3 {
    transform: rotate(-45deg) translateY(-5.5px);
  }

  .intro-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-page-intro {
    padding: 50px 0 90px;
  }

  .wrapper-title-basic .title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #0f5f5c;
    line-height: 100%;
  }

  .second-page-wrapper-title {
    margin: 55px 0 30px;
  }

  .wrapper-big-cards-basic {
    flex-direction: column;
    width: 100%;
  }
  .wrapper-big-cards-basic .big-card-basic {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrapper-big-cards-basic .big-card-basic .big-card-title-basic {
    margin: 15px 0 10px;
  }

  .line-reverse-T {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 25px;
  }
  .line-reverse-T .vertical-line {
    width: 2px;
    height: 30px;
    background-color: #f2f2f2;
  }
  .line-reverse-T .horizontal-line {
    width: 150px;
    height: 2px;
    background-color: #f2f2f2;
  }

  .wrapper-little-cards {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
    width: 100%;
    margin: 30px 0 45px;
  }
  .wrapper-little-cards .little-card .text-little-card {
    margin-top: 10px;
  }

  .third-page {
    padding: 45px 0;
  }

  .wrapper-third-page-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .wrapper-third-page-content .content-img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .wrapper-third-page-content .third-page-content {
    width: 100%;
    margin-top: 20px;
  }
  .wrapper-third-page-content .third-page-content .content-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #0f5f5c;
  }

  .fourth-page {
    flex-direction: column-reverse;
    padding: 45px 0;
  }
  .fourth-page .fourth-content {
    width: 100%;
  }
  .fourth-page .fourth-content .main {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
    color: #83a7a5;
  }

  .wrapper-image {
    width: 200px;
    height: 200px;
  }

  .fifth-page {
    padding: 45px 0;
  }
  .fifth-page .fifth-bg-image {
    height: 390px;
  }

  .fifth-content {
    width: 100%;
    margin: 88px 0;
  }
  .fifth-content .fifth-page-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #0f5f5c;
  }

  .sixth-page {
    padding: 45px 0;
  }

  .sixth-wrapper-cards {
    margin: 40px auto;
  }

  .sixth-page-wrapper-list {
    margin: 20px 0;
  }

  .wrapper-price-cards-basic {
    width: 75%;
    flex-direction: column;
  }
  .wrapper-price-cards-basic .price-card-basic {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #c1d3d2;
  }
  .wrapper-price-cards-basic .price-card-basic:last-child {
    border-bottom: none;
  }

  .wrapper-list-basic {
    display: grid;
    grid-template-columns: 100%;
  }

  .wrapper-special-title-basic .special-title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #6fb048;
  }
  .wrapper-special-title-basic .special-subtitle-basic {
    width: 100%;
  }

  .poster-basic .poster-page-basic {
    flex-direction: column;
    padding: 45px 0;
  }
  .poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    color: #0f5f5c;
  }
  .poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-subtitle-basic {
    margin: 10px 0;
  }

  .info-page-basic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 200px);
    padding: 45px 0;
  }
  .info-page-basic .wrapper-info-basic {
    align-items: center;
    width: 100%;
  }

  .footer-basic .wrapper-icon-basic {
    width: 50%;
  }

  .about-us-first-page-intro {
    padding: 50px 0;
  }
  .about-us-first-page-intro .about-us-first-page-title {
    width: 80%;
    margin-bottom: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: white;
  }

  .about-us-wrapper-big-cards-basic {
    margin-bottom: 45px;
  }

  .about-us-third-page {
    padding-top: 45px;
  }

  .about-us-wrapper-third-page-content {
    flex-direction: column;
    padding: 35px 0 45px;
  }

  .contact-us-wrapper-title {
    margin: 45px 0;
  }

  .contact-us-content {
    width: 100%;
    flex-direction: column;
  }
  .contact-us-content .contact-us-wrapper-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-us-content .contact-us-headquarter {
    width: 100%;
  }
}/*# sourceMappingURL=media_max450.css.map */