.pricing-bg-color-first-page,
.pricing-second-page-bg {
  background-color: #eef1ec;
}

.pricing-logo {
  font-family: "Proxima Nova", sans-serif;
  font-size: 28.75px;
  font-weight: 700;
  line-height: 46.44px;
  color: #0f5f5c;
}
.pricing-logo::after {
  background-color: rgba(131, 167, 165, 0.5);
}

.pricing-second-page-wrapper-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-second-page-wrapper-title .pricing-second-page-title {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  color: #0f5f5c;
  text-align: center;
}
.pricing-second-page-wrapper-title .pricing-second-page-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: #83a7a5;
}

.second-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 60px;
}
.second-page-content .pricing-second-page-text-bottom {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: #83a7a5;
}
.second-page-content .pricing-card-bg {
  background-color: white;
  margin-bottom: 30px;
}

.pricing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 0 95px;
}
.pricing-page .pricing-list {
  margin: 15px 0 55px;
}
.pricing-page .pricing-special-title {
  margin-bottom: 35px;
}/*# sourceMappingURL=prising.css.map */