@import '../variables.scss';
@import '../mixins.scss';
.pricing-bg-color-first-page,
.pricing-second-page-bg {
    background-color: $FOREST-WOLF;
}

.pricing-logo {
    @include get-logo(28.75px, 46.44px, $DARK-TIRQUOISE);
    &::after {
        background-color: rgba($color: $PASTEL-TIRQUOISE, $alpha: 0.5);
    }
}

.pricing-second-page-wrapper-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pricing-second-page-title {
        width: 50%;
        @include get-title-alternative (32px, 300, 38px);
        text-align: center;
    }
    .pricing-second-page-text {
        @include get-text (15px, 400, 38px, center, $color: $PASTEL-TIRQUOISE);
    }
}

.second-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 60px;
    .pricing-second-page-text-bottom {
        @include get-text (15px, 400, 38px);
    }
    .pricing-card-bg {
        background-color: $WHITE;
        margin-bottom: 30px;
    }
}

.pricing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 95px;
    .pricing-list {
        margin: 15px 0 55px;
    }
    .pricing-special-title {
        margin-bottom: 35px;
    }
}