@import '../variables.scss';
@import '../mixins.scss';
.contact-us-map {
    width: 100%;
}

.contact-us-wrapper-title {
    margin: 80px 0;
}

.contact-us-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 100px;
    .contact-us-wrapper-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 510px;
        .contact-us-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .contact-us-input {
                width: 100%;
                height: 46px;
                margin-bottom: 25px;
                border: 1px solid $PASTEL-TIRQUOISE;
                box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .1);
                outline: none;
                &::placeholder {
                    padding-left: 25px;
                    @include get-text ();
                }
                &:focus::placeholder {
                    color: transparent;
                }
            }
            .contact-us-form-message {
                height: 120px;
                resize: none;
                &::placeholder {
                    padding-top: 13px;
                }
            }
        }
        .contact-us-form-submit {
            border: none;
            outline: none;
            @include get-button(190px, 40px);
            @include get-text-button (13px);
        }
    }
    .contact-us-headquarter {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 340px;
        height: 270px;
        padding: 40px 0 0 40px;
        border: 2px dashed $PASTEL-TIRQUOISE;
        .contact-us-headquater-title {
            @include get-title-alternative (22px, 300, 21px);
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        .contact-us-list {
            margin-bottom: 25px;
            .contact-us-list-item {
                display: flex;
                &:first-child {
                    &::before {
                        content: url('../../assets/icons/location-icon.svg');
                        width: 14px;
                        height: 20px;
                        margin-right: 15px;
                    }
                }
                &:not(:nth-child(1)) {
                    margin-left: 29px;
                }
            }
        }
        .contact-us-phone {
            &::before {
                margin-right: 9px;
                background-color: rgba($color: $DARK-YELLOW-GREEN, $alpha: 1.0);
            }
        }
    }
}

a.contact-us-email {
    display: flex;
    @include get-text (15px,
    400,
    21px,
    left,
    $DARK-TIRQUOISE);
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 9px;
        background-color: $DARK-YELLOW-GREEN;
        mask-image: url('../../assets/icons/e-mail-icon.svg');
        mask-repeat: no-repeat;
        mask-position: center;
    }
}