.contact-us-map {
  width: 100%;
}

.contact-us-wrapper-title {
  margin: 80px 0;
}

.contact-us-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 100px;
}
.contact-us-content .contact-us-wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 510px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input {
  width: 100%;
  height: 46px;
  margin-bottom: 25px;
  border: 1px solid #83a7a5;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input::-moz-placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input::placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus::-moz-placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus:-ms-input-placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus::placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message {
  height: 120px;
  resize: none;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message::-moz-placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message:-ms-input-placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message::placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form-submit {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form-submit:hover {
  background-color: #83a7a5;
}
.contact-us-content .contact-us-headquarter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 340px;
  height: 270px;
  padding: 40px 0 0 40px;
  border: 2px dashed #83a7a5;
}
.contact-us-content .contact-us-headquarter .contact-us-headquater-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: #0f5f5c;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact-us-content .contact-us-headquarter .contact-us-list {
  margin-bottom: 25px;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item {
  display: flex;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item:first-child::before {
  content: url("../../assets/icons/location-icon.svg");
  width: 14px;
  height: 20px;
  margin-right: 15px;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item:not(:nth-child(1)) {
  margin-left: 29px;
}
.contact-us-content .contact-us-headquarter .contact-us-phone::before {
  margin-right: 9px;
  background-color: #6fb048;
}

a.contact-us-email {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #0f5f5c;
}
a.contact-us-email::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background-color: #6fb048;
  -webkit-mask-image: url("../../assets/icons/e-mail-icon.svg");
          mask-image: url("../../assets/icons/e-mail-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}/*# sourceMappingURL=contactUs.css.map */