.about-us-bg-image-first-page {
  background-image: url("../../assets/images/lending-aboutUs-bg-image.jpg");
}

.about-us-first-page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0;
}
.about-us-first-page-intro .about-us-first-page-title {
  width: 80%;
  margin-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: white;
}
.about-us-first-page-intro .about-us-first-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
}
.about-us-first-page-intro .about-us-first-page-button:hover {
  background-color: #83a7a5;
}

.about-us-second-page-subtitle {
  width: 75%;
}

.about-us-wrapper-big-cards-basic {
  margin-bottom: 105px;
}

.about-us-poster-bg {
  background-image: url("../../assets/images/fourth-page-aboutUs-bg-image.jpg");
}
.about-us-poster-bg .about-us-poster-page .about-us-wraper-poster-title .about-us-poster-title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: white;
}
.about-us-poster-bg .about-us-poster-page .about-us-wraper-poster-title .about-us-poster-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: white;
}
.about-us-poster-bg .about-us-poster-page .about-us-poster-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 42px;
  background-color: #49732f;
  border-radius: 2px;
  cursor: pointer;
}
.about-us-poster-bg .about-us-poster-page .about-us-poster-button:hover {
  background-color: #83a7a5;
}

.about-us-third-page {
  background-color: #eef1ec;
  padding-top: 75px;
}

.about-us-third-page-wrapper-title .about-us-third-page-subtitle {
  width: 70%;
}

.about-us-wrapper-third-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 110px 0 115px;
}

.about-us-caption-name {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}

.about-us-caption-position {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}/*# sourceMappingURL=aboutUs.css.map */