@import '../variables.scss';
@import '../mixins.scss';
.about-us-bg-image-first-page {
    background-image: url('../../assets/images/lending-aboutUs-bg-image.jpg');
}

.about-us-first-page-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
    .about-us-first-page-title {
        width: 80%;
        margin-bottom: 35px;
        @include get-intro-title (50px,
        300,
        center);
    }
    .about-us-first-page-button {
        @include get-button(230px);
    }
}

.about-us-second-page-subtitle {
    width: 75%;
}

.about-us-wrapper-big-cards-basic {
    margin-bottom: 105px;
}

.about-us-poster-bg {
    background-image: url('../../assets/images/fourth-page-aboutUs-bg-image.jpg');
    .about-us-poster-page {
        .about-us-wraper-poster-title {
            .about-us-poster-title {
                @include get-title-alternative (28px,
                300,
                22px,
                $WHITE);
            }
            .about-us-poster-subtitle {
                @include get-text (14px,
                400,
                22px,
                left,
                $WHITE);
            }
        }
        .about-us-poster-button {
            @include get-button(285px,
            42px,
            $bg-color-about-us-poster-button)
        }
    }
}

.about-us-third-page {
    background-color: $FOREST-WOLF;
    padding-top: 75px;
}

.about-us-third-page-wrapper-title {
    .about-us-third-page-subtitle {
        width: 70%;
    }
}

.about-us-wrapper-third-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 110px 0 115px;
}

.about-us-caption-name {
    @include get-text (15px,
    500,
    22px,
    left,
    $DARK-TIRQUOISE);
}

.about-us-caption-position {
    @include get-text (14px,
    400,
    22px,
    left);
}