.wrapper-basic {
  width: 100%;
}

.page-basic {
  max-width: 1056px;
  margin: 0 auto;
}

.logo-basic {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova", sans-serif;
  font-size: 28.75px;
  font-weight: 700;
  line-height: 46.44px;
  color: white;
}
.logo-basic::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 24px;
}

.button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.button-basic:hover {
  background-color: #83a7a5;
}

.wrapper-title-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-title-basic .title-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #0f5f5c;
}
.wrapper-title-basic .title-basic::after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  margin: 22px 0 16px;
  background-color: #6fb048;
}
.wrapper-title-basic .subtitle-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #83a7a5;
}

.wrapper-special-title-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-special-title-basic .special-title-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #6fb048;
}
.wrapper-special-title-basic .special-title-basic::before {
  content: url("../assets/icons/special-title-icon.svg");
  margin-bottom: 15px;
}
.wrapper-special-title-basic .special-title-basic::after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  margin: 22px 0 16px;
  background-color: #6fb048;
}
.wrapper-special-title-basic .special-subtitle-basic {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #83a7a5;
}

.title-alternative-basic {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}

a.text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}

.check-mark-basic {
  display: flex;
  align-items: center;
}
.check-mark-basic::before {
  content: url("../assets/icons/check-mark-icon.svg");
  margin-right: 10px;
  margin-top: 5px;
}

.box-shadow-basic {
  box-shadow: inset 0 100px 70px rgba(0, 0, 0, 0.5);
}

.header-basic {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}
.header-basic .logo-phone-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-basic .nav-basic, .header-basic .nav-basic-alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
  transition: 0.4s ease all, 0s ease background;
  list-style: none;
}
.header-basic .nav-basic li, .header-basic .nav-basic-alternative li {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.header-basic .nav-basic li .nav-links-basic, .header-basic .nav-basic-alternative li .nav-links-basic {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.header-basic .nav-basic li .nav-links-basic:hover, .header-basic .nav-basic-alternative li .nav-links-basic:hover {
  color: white;
}
.header-basic .nav-basic-alternative li .nav-links-basic-alternative {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(131, 167, 165, 0.7);
}
.header-basic .nav-basic-alternative li .nav-links-basic-alternative:hover {
  color: #83a7a5;
}
.header-basic .right .button-nav-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 32px;
  background-color: #83a7a5;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
  outline: none;
  border: none;
}
.header-basic .right .button-nav-basic:hover {
  background-color: #6fb048;
}
.header-basic .right .button-nav-basic-alternative {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 32px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
  outline: none;
  border: none;
}
.header-basic .right .button-nav-basic-alternative:hover {
  background-color: #83a7a5;
}
.header-basic.sticky {
  position: fixed;
  z-index: 40;
}

.phone-basic, .phone-basic-alternative {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
}
.phone-basic::before, .phone-basic-alternative::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-mask-image: url("../assets/icons/phone-icon.svg");
          mask-image: url("../assets/icons/phone-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.phone-basic-alternative {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #83a7a5;
}
.phone-basic-alternative::before {
  background-color: rgba(131, 167, 165, 0.7);
}

.intro-basic .intro-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  color: white;
}
.intro-basic .intro-text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.wrapper-big-cards-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper-big-cards-basic .big-card-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.wrapper-big-cards-basic .big-card-basic .big-card-title-basic {
  margin: 25px 0 20px;
}
.wrapper-big-cards-basic .big-card-basic .big-card-text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #83a7a5;
}

.wrapper-price-cards-basic {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1d3d2;
  border-radius: 5px;
}
.wrapper-price-cards-basic .price-card-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 360px;
  padding: 30px 0 20px;
  border-right: 1px solid #c1d3d2;
}
.wrapper-price-cards-basic .price-card-basic:last-child {
  border-right: none;
}
.wrapper-price-cards-basic .price-card-basic .price-card-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #6fb048;
}
.wrapper-price-cards-basic .price-card-basic .price-card-price-basic {
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 107.97px;
  text-align: left;
  color: #0f5f5c;
}
.wrapper-price-cards-basic .price-card-basic .price-card-interval-basic {
  display: inline-block;
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}
.wrapper-price-cards-basic .price-card-basic .price-card-list-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.wrapper-price-cards-basic .price-card-basic .price-card-list-basic .price-card-item-basic {
  margin-bottom: 5px;
}
.wrapper-price-cards-basic .price-card-basic .price-card-button-busic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 42px;
  background-color: #83a7a5;
  border-radius: 2px;
  cursor: pointer;
}
.wrapper-price-cards-basic .price-card-basic .price-card-button-busic:hover {
  background-color: #6fb048;
}

.wrapper-list-basic {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.poster-basic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.poster-basic .poster-page-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}
.poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-subtitle-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.poster-basic .poster-page-basic .poster-button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 42px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
}
.poster-basic .poster-page-basic .poster-button-basic:hover {
  background-color: #83a7a5;
}

.info-page-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 55px;
}
.info-page-basic .wrapper-info-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.info-page-basic .wrapper-info-basic .info-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .info-subtitle-basic {
  margin: 15px 0;
}
.info-page-basic .wrapper-info-basic .logo-alternative-basic {
  font-family: "Proxima Nova", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.02px;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .logo-alternative-basic ~ ul > li:last-child {
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83a7a5;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic .info-item-email-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic a.info-link {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83a7a5;
}
.info-page-basic .wrapper-info-basic .info-button-basic {
  display: flex;
  align-items: center;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email {
  width: 100%;
  height: 36px;
  background-color: #eef1ec;
  border: none;
  border-radius: 2px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email::-moz-placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email:-ms-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email::placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #info-submit-basic {
  width: 36px;
  height: 36px;
  border: none;
  background-image: url("../assets/icons/send-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eef1ec;
}
.footer-basic .cop-basic {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #83a7a5;
  text-align: left;
}
.footer-basic .wrapper-icon-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 20px 0;
}
.footer-basic .wrapper-icon-basic .icon-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-basic .wrapper-icon-basic .twitter-basic {
  background-color: #55acee;
}
.footer-basic .wrapper-icon-basic .facebook-basic {
  background-color: #3b5998;
}
.footer-basic .wrapper-icon-basic .instagram-basic {
  background-color: #3f729b;
}
.footer-basic .wrapper-icon-basic .dribbble-basic {
  background-color: #ea4c89;
}
.footer-basic .wrapper-icon-basic .github-basic {
  background-color: #333333;
}/*# sourceMappingURL=basic.css.map */