@import 'variables.scss';
@import 'mixins.scss';
.wrapper-basic {
    width: 100%;
}

.page-basic {
    max-width: 1056px;
    margin: 0 auto;
}

.logo-basic {
    display: flex;
    align-items: center;
    @include get-logo();
    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 20px;
        background-color: $bg-color-line;
        margin: 0 24px;
    }
}

.button-basic {
    @include get-button();
    @include get-text-button();
}

.wrapper-title-basic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include get-title();
        &::after {
            content: '';
            display: block;
            width: 65px;
            height: 1px;
            margin: 22px 0 16px;
            background-color: $DARK-YELLOW-GREEN;
        }
    }
    .subtitle-basic {
        @include get-subtitle();
    }
}

.wrapper-special-title-basic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .special-title-basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include get-title-alternative (32px, 300, 20px, $color: $DARK-YELLOW-GREEN);
        &::before {
            content: url('../assets/icons/special-title-icon.svg');
            margin-bottom: 15px;
        }
        &::after {
            content: '';
            display: block;
            width: 65px;
            height: 1px;
            margin: 22px 0 16px;
            background-color: $DARK-YELLOW-GREEN;
        }
    }
    .special-subtitle-basic {
        width: 50%;
        @include get-subtitle();
    }
}

.title-alternative-basic {
    @include get-title-alternative();
}

.text-basic {
    @include get-text();
}

a.text-basic {
    @include get-text();
}

.check-mark-basic {
    display: flex;
    align-items: center;
    &::before {
        content: url('../assets/icons/check-mark-icon.svg');
        margin-right: 10px;
        margin-top: 5px;
    }
}

.box-shadow-basic {
    box-shadow: inset 0 100px 70px rgb(0, 0, 0, .5);
}

.header-basic {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    .logo-phone-basic {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-basic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: 50px;
        transition: 0.4s ease all, 0s ease background;
        list-style: none;
        li {
            padding: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease all, 0s ease margin;
            .nav-links-basic {
                @include get-text-menu();
                &:hover {
                    color: $WHITE;
                }
            }
        }
    }
    .nav-basic-alternative {
        @extend .nav-basic;
        li {
            .nav-links-basic-alternative {
                @include get-text-menu($color-menu-alternative);
                &:hover {
                    color: $PASTEL-TIRQUOISE;
                }
            }
        }
    }
    .right {
        .button-nav-basic {
            @include get-button(110px,
            32px,
            $PASTEL-TIRQUOISE,
            $DARK-YELLOW-GREEN);
            @include get-text-menu($WHITE);
            outline: none;
            border: none;
        }
        .button-nav-basic-alternative {
            @include get-button(110px,
            32px,
            $DARK-YELLOW-GREEN,
            $PASTEL-TIRQUOISE);
            @include get-text-menu($WHITE);
            outline: none;
            border: none;
        }
    }
    &.sticky {
        position: fixed;
        z-index: 40;
    }
}

.phone-basic {
    display: flex;
    @include get-text-menu($WHITE);
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        background-color: $color-menu;
        mask-image: url('../assets/icons/phone-icon.svg');
        mask-repeat: no-repeat;
        mask-position: center;
    }
}

.phone-basic-alternative {
    @extend .phone-basic;
    @include get-text-menu ($PASTEL-TIRQUOISE);
    &::before {
        background-color: rgba($color: $PASTEL-TIRQUOISE, $alpha: 0.7);
    }
}

.intro-basic {
    .intro-title-basic {
        @include get-intro-title();
    }
    .intro-text-basic {
        @include get-intro-subtitle;
    }
}

.wrapper-big-cards-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .big-card-basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        .big-card-title-basic {
            margin: 25px 0 20px;
        }
        .big-card-text-basic {
            @include get-text(14px,
            400,
            22px,
            center);
        }
    }
}

.wrapper-price-cards-basic {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-color-line-border;
    border-radius: 5px;
    .price-card-basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        height: 360px;
        padding: 30px 0 20px;
        border-right: 1px solid $bg-color-line-border;
        &:last-child {
            border-right: none;
        }
        .price-card-title-basic {
            @include get-title-price-card;
        }
        .price-card-price-basic {
            margin-top: -10px;
            @include get-price-card-price;
        }
        .price-card-interval-basic {
            display: inline-block;
            margin-top: -30px;
            @include get-text (14px,
            400,
            20px,
            left,
            $DARK-TIRQUOISE)
        }
        .price-card-list-basic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            .price-card-item-basic {
                margin-bottom: 5px;
            }
        }
        .price-card-button-busic {
            @include get-button(140px,
            42px,
            $PASTEL-TIRQUOISE,
            $DARK-YELLOW-GREEN);
        }
    }
}

.wrapper-list-basic {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 45px;
}

.poster-basic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .poster-page-basic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0;
        .wrapper-poster-title-basic {
            .poster-title-basic {
                @include get-title-alternative (28px,
                300,
                22px,
                $color: $DARK-TIRQUOISE);
            }
            .poster-subtitle-basic {
                @include get-text (15px);
            }
        }
        .poster-button-basic {
            @include get-button(285px,
            42px)
        }
    }
}

.info-page-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 55px;
    .wrapper-info-basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        .info-title-basic {
            @include get-title-alternative (13px,
            500,
            22px);
        }
        .info-subtitle-basic {
            margin: 15px 0;
        }
        .logo-alternative-basic {
            @include get-logo(22px,
            35.02px,
            $DARK-TIRQUOISE);
            &~ul>li:last-child {
                padding-left: 15px;
            }
        }
        .info-list-basic {
            .info-item-basic {
                @include get-text (13px,
                400,
                28px,
                left,
                $PASTEL-TIRQUOISE);
                .info-item-email-basic {
                    @include get-text (13px,
                    400,
                    28px,
                    left,
                    $DARK-TIRQUOISE);
                }
                a.info-link {
                    @include get-text (13px,
                    400,
                    28px,
                    left,
                    $PASTEL-TIRQUOISE);
                }
            }
        }
        .info-button-basic {
            display: flex;
            align-items: center;
            #email {
                width: 100%;
                height: 36px;
                background-color: $FOREST-WOLF;
                border: none;
                border-radius: 2px;
                &::placeholder {
                    color: $PASTEL-TIRQUOISE;
                    padding-left: 15px;
                }
            }
            #info-submit-basic {
                width: 36px;
                height: 36px;
                border: none;
                background-image: url('../assets/icons/send-mail-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        }
    }
}

.footer-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $FOREST-WOLF;
    .cop-basic {
        @include get-text (12px,
        400,
        18px);
        text-align: left;
    }
    .wrapper-icon-basic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        padding: 20px 0;
        .icon-basic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            padding-top: 5px;
            border-radius: 50%;
            cursor: pointer;
        }
        .twitter-basic {
            background-color: $bg-color-twitter-icon;
        }
        .facebook-basic {
            background-color: $bg-color-facebook-icon;
        }
        .instagram-basic {
            background-color: $bg-color-instagram-icon;
        }
        .dribbble-basic {
            background-color: $bg-color-dribbble-icon;
        }
        .github-basic {
            background-color: $bg-color-github-icon;
        }
    }
}