@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
// font-family: 'Merriweather', serif;
@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("../assets/fonts/11096.otf");
}