@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/fonts/11096.otf");
}/*# sourceMappingURL=fonts.css.map */