@import 'variables.scss';
@mixin get-logo($font-size: 28.75px, $line-height: 46.44px, $color: $WHITE) {
    font-family: 'Proxima Nova', sans-serif;
    font-size: $font-size;
    font-weight: 700;
    line-height: $line-height;
    color: $color;
}

@mixin get-button($width: 190px, $height: 50px, $background-color: $DARK-YELLOW-GREEN, $background-color-hover: $PASTEL-TIRQUOISE) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
    background-color: $background-color;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: $background-color-hover;
    }
}

@mixin get-text-button ($font-size: 14px, $color: $WHITE) {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: $color;
}

@mixin get-text-menu ($color: $color-menu) {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: $color;
}

@mixin get-intro-title ($font-size: 38px, $font-weight: 400, $text-align: left) {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: normal;
    text-align: $text-align;
    color: $WHITE;
}

@mixin get-intro-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $WHITE;
}

@mixin get-title ($font-size: 38px) {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: $DARK-TIRQUOISE;
}

@mixin get-subtitle ($line-height: 20px) {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: $PASTEL-TIRQUOISE;
}

@mixin get-title-alternative ($font-size: 16px, $font-weight: 400, $line-height: 20px, $color: $DARK-TIRQUOISE) {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: left;
    color: $color;
}

@mixin get-text ($font-size: 14px, $font-weight: 400, $line-height: 22px, $text-align: left, $color: $PASTEL-TIRQUOISE) {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: $text-align;
    color: $color;
}

@mixin get-text-alternative ($font-size: 22px) {
    font-family: 'Merriweather', serif;
    font-size: $font-size;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
    color: $PASTEL-TIRQUOISE;
}

@mixin get-title-price-card {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: $DARK-YELLOW-GREEN;
}

@mixin get-price-card-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 107.97px;
    text-align: left;
    color: $DARK-TIRQUOISE;
}