@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

@font-face {
  font-family: "Proxima Nova", sans-serif;
  src: url("../assets/fonts/11096.otf");
}
.wrapper-basic {
  width: 100%;
}

.page-basic {
  max-width: 1056px;
  margin: 0 auto;
}

.logo-basic {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova", sans-serif;
  font-size: 28.75px;
  font-weight: 700;
  line-height: 46.44px;
  color: white;
}
.logo-basic::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 24px;
}

.button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.button-basic:hover {
  background-color: #83a7a5;
}

.wrapper-title-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-title-basic .title-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #0f5f5c;
}
.wrapper-title-basic .title-basic::after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  margin: 22px 0 16px;
  background-color: #6fb048;
}
.wrapper-title-basic .subtitle-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #83a7a5;
}

.wrapper-special-title-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-special-title-basic .special-title-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #6fb048;
}
.wrapper-special-title-basic .special-title-basic::before {
  content: url("../assets/icons/special-title-icon.svg");
  margin-bottom: 15px;
}
.wrapper-special-title-basic .special-title-basic::after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  margin: 22px 0 16px;
  background-color: #6fb048;
}
.wrapper-special-title-basic .special-subtitle-basic {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: #83a7a5;
}

.title-alternative-basic {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}

a.text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}

.check-mark-basic {
  display: flex;
  align-items: center;
}
.check-mark-basic::before {
  content: url("../assets/icons/check-mark-icon.svg");
  margin-right: 10px;
  margin-top: 5px;
}

.box-shadow-basic {
  box-shadow: inset 0 100px 70px rgba(0, 0, 0, 0.5);
}

.header-basic {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}
.header-basic .logo-phone-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-basic .nav-basic, .header-basic .nav-basic-alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
  transition: 0.4s ease all, 0s ease background;
  list-style: none;
}
.header-basic .nav-basic li, .header-basic .nav-basic-alternative li {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.header-basic .nav-basic li .nav-links-basic, .header-basic .nav-basic-alternative li .nav-links-basic {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.header-basic .nav-basic li .nav-links-basic:hover, .header-basic .nav-basic-alternative li .nav-links-basic:hover {
  color: white;
}
.header-basic .nav-basic-alternative li .nav-links-basic-alternative {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(131, 167, 165, 0.7);
}
.header-basic .nav-basic-alternative li .nav-links-basic-alternative:hover {
  color: #83a7a5;
}
.header-basic .right .button-nav-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 32px;
  background-color: #83a7a5;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
  outline: none;
  border: none;
}
.header-basic .right .button-nav-basic:hover {
  background-color: #6fb048;
}
.header-basic .right .button-nav-basic-alternative {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 32px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
  outline: none;
  border: none;
}
.header-basic .right .button-nav-basic-alternative:hover {
  background-color: #83a7a5;
}
.header-basic.sticky {
  position: fixed;
  z-index: 40;
}

.phone-basic, .phone-basic-alternative {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
}
.phone-basic::before, .phone-basic-alternative::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-mask-image: url("../assets/icons/phone-icon.svg");
          mask-image: url("../assets/icons/phone-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.phone-basic-alternative {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #83a7a5;
}
.phone-basic-alternative::before {
  background-color: rgba(131, 167, 165, 0.7);
}

.intro-basic .intro-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  color: white;
}
.intro-basic .intro-text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.wrapper-big-cards-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper-big-cards-basic .big-card-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.wrapper-big-cards-basic .big-card-basic .big-card-title-basic {
  margin: 25px 0 20px;
}
.wrapper-big-cards-basic .big-card-basic .big-card-text-basic {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #83a7a5;
}

.wrapper-price-cards-basic {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1d3d2;
  border-radius: 5px;
}
.wrapper-price-cards-basic .price-card-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 360px;
  padding: 30px 0 20px;
  border-right: 1px solid #c1d3d2;
}
.wrapper-price-cards-basic .price-card-basic:last-child {
  border-right: none;
}
.wrapper-price-cards-basic .price-card-basic .price-card-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #6fb048;
}
.wrapper-price-cards-basic .price-card-basic .price-card-price-basic {
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 107.97px;
  text-align: left;
  color: #0f5f5c;
}
.wrapper-price-cards-basic .price-card-basic .price-card-interval-basic {
  display: inline-block;
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}
.wrapper-price-cards-basic .price-card-basic .price-card-list-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.wrapper-price-cards-basic .price-card-basic .price-card-list-basic .price-card-item-basic {
  margin-bottom: 5px;
}
.wrapper-price-cards-basic .price-card-basic .price-card-button-busic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 42px;
  background-color: #83a7a5;
  border-radius: 2px;
  cursor: pointer;
}
.wrapper-price-cards-basic .price-card-basic .price-card-button-busic:hover {
  background-color: #6fb048;
}

.wrapper-list-basic {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.poster-basic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.poster-basic .poster-page-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}
.poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-subtitle-basic {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.poster-basic .poster-page-basic .poster-button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 42px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
}
.poster-basic .poster-page-basic .poster-button-basic:hover {
  background-color: #83a7a5;
}

.info-page-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 55px;
}
.info-page-basic .wrapper-info-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.info-page-basic .wrapper-info-basic .info-title-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .info-subtitle-basic {
  margin: 15px 0;
}
.info-page-basic .wrapper-info-basic .logo-alternative-basic {
  font-family: "Proxima Nova", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.02px;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .logo-alternative-basic ~ ul > li:last-child {
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83a7a5;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic .info-item-email-basic {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #0f5f5c;
}
.info-page-basic .wrapper-info-basic .info-list-basic .info-item-basic a.info-link {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #83a7a5;
}
.info-page-basic .wrapper-info-basic .info-button-basic {
  display: flex;
  align-items: center;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email {
  width: 100%;
  height: 36px;
  background-color: #eef1ec;
  border: none;
  border-radius: 2px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email::-moz-placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email:-ms-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #email::placeholder {
  color: #83a7a5;
  padding-left: 15px;
}
.info-page-basic .wrapper-info-basic .info-button-basic #info-submit-basic {
  width: 36px;
  height: 36px;
  border: none;
  background-image: url("../assets/icons/send-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eef1ec;
}
.footer-basic .cop-basic {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #83a7a5;
  text-align: left;
}
.footer-basic .wrapper-icon-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 20px 0;
}
.footer-basic .wrapper-icon-basic .icon-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-basic .wrapper-icon-basic .twitter-basic {
  background-color: #55acee;
}
.footer-basic .wrapper-icon-basic .facebook-basic {
  background-color: #3b5998;
}
.footer-basic .wrapper-icon-basic .instagram-basic {
  background-color: #3f729b;
}
.footer-basic .wrapper-icon-basic .dribbble-basic {
  background-color: #ea4c89;
}
.footer-basic .wrapper-icon-basic .github-basic {
  background-color: #333333;
}

.bg-image-first-page {
  background-image: url("../../assets/images/bg-image-first-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-first-page {
  background-color: rgba(45, 110, 112, 0.9);
}

.first-page-intro {
  padding: 200px 0 197px;
}
.first-page-intro .first-page-text {
  margin: 13px 0 22px;
}

.second-page-wrapper-title {
  margin: 95px 0 70px;
}

.line-reverse-T {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 50px;
}
.line-reverse-T .vertical-line {
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
}
.line-reverse-T .horizontal-line {
  width: 90px;
  height: 2px;
  background-color: #f2f2f2;
}

.wrapper-little-cards {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 60px;
  width: 100%;
  margin: 65px 0 130px;
}
.wrapper-little-cards .little-card .icon-little-card {
  display: flex;
  align-items: center;
}
.wrapper-little-cards .little-card .icon-little-card .title-little-card {
  margin-left: 25px;
}
.wrapper-little-cards .little-card .text-little-card {
  margin-top: 20px;
}
.wrapper-little-cards .little-card .margin {
  margin-top: 15px;
}

.third-page {
  background-color: #eef1ec;
  padding-top: 75px;
}

.third-page-title {
  margin-bottom: 20px;
}

.wrapper-third-page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper-third-page-content .content-img {
  width: 435px;
  height: 488px;
  background-image: url("../assets/images/third-image-smartphone-in-hand.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -73px 0;
}
.wrapper-third-page-content .third-page-content {
  width: 50%;
}
.wrapper-third-page-content .third-page-content .content-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
  margin-bottom: 15px;
}
.wrapper-third-page-content .third-page-content .content-text {
  margin-bottom: 20px;
}

.fourth-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0;
}

.fourth-content {
  width: 50%;
}
.fourth-content .main {
  margin-bottom: 28px;
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  color: #83a7a5;
}
.fourth-content .name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #6fb048;
}

.wrapper-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url("../assets/images/fourth-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fifth-page {
  background-color: #eef1ec;
  padding: 60px 0;
}
.fifth-page .fifth-bg-image {
  position: absolute;
  right: 0;
  width: 50%;
  height: 390px;
  background-image: url("../assets/images/fifth-map-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth-content {
  width: 50%;
  margin: 117.5px 0;
}
.fifth-content .fifth-page-title {
  margin-bottom: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}
.fifth-content .fifth-page-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #83a7a5;
}

.sixth-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0;
}

.sixth-wrapper-cards {
  margin: 40px auto 78px;
}

.sixth-page-wrapper-list-title .sixth-page-list-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.sixth-page-wrapper-list {
  margin: 20px 0 54px;
}

.sixth-page-wrapper-title-alternative {
  margin-bottom: 35px;
}

a.sixth-page-email {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0f5f5c;
}

.seventh-page-poster-bg {
  background-image: url("../assets/images/seventh-bg-image.jpg");
}

.about-us-bg-image-first-page {
  background-image: url("../../assets/images/lending-aboutUs-bg-image.jpg");
}

.about-us-first-page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0;
}
.about-us-first-page-intro .about-us-first-page-title {
  width: 80%;
  margin-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: white;
}
.about-us-first-page-intro .about-us-first-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
}
.about-us-first-page-intro .about-us-first-page-button:hover {
  background-color: #83a7a5;
}

.about-us-second-page-subtitle {
  width: 75%;
}

.about-us-wrapper-big-cards-basic {
  margin-bottom: 105px;
}

.about-us-poster-bg {
  background-image: url("../../assets/images/fourth-page-aboutUs-bg-image.jpg");
}
.about-us-poster-bg .about-us-poster-page .about-us-wraper-poster-title .about-us-poster-title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: white;
}
.about-us-poster-bg .about-us-poster-page .about-us-wraper-poster-title .about-us-poster-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: white;
}
.about-us-poster-bg .about-us-poster-page .about-us-poster-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 42px;
  background-color: #49732f;
  border-radius: 2px;
  cursor: pointer;
}
.about-us-poster-bg .about-us-poster-page .about-us-poster-button:hover {
  background-color: #83a7a5;
}

.about-us-third-page {
  background-color: #eef1ec;
  padding-top: 75px;
}

.about-us-third-page-wrapper-title .about-us-third-page-subtitle {
  width: 70%;
}

.about-us-wrapper-third-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 110px 0 115px;
}

.about-us-caption-name {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #0f5f5c;
}

.about-us-caption-position {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}

.pricing-bg-color-first-page,
.pricing-second-page-bg {
  background-color: #eef1ec;
}

.pricing-logo {
  font-family: "Proxima Nova", sans-serif;
  font-size: 28.75px;
  font-weight: 700;
  line-height: 46.44px;
  color: #0f5f5c;
}
.pricing-logo::after {
  background-color: rgba(131, 167, 165, 0.5);
}

.pricing-second-page-wrapper-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-second-page-wrapper-title .pricing-second-page-title {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  color: #0f5f5c;
  text-align: center;
}
.pricing-second-page-wrapper-title .pricing-second-page-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: #83a7a5;
}

.second-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 60px;
}
.second-page-content .pricing-second-page-text-bottom {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: #83a7a5;
}
.second-page-content .pricing-card-bg {
  background-color: white;
  margin-bottom: 30px;
}

.pricing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 0 95px;
}
.pricing-page .pricing-list {
  margin: 15px 0 55px;
}
.pricing-page .pricing-special-title {
  margin-bottom: 35px;
}

.contact-us-map {
  width: 100%;
}

.contact-us-wrapper-title {
  margin: 80px 0;
}

.contact-us-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 100px;
}
.contact-us-content .contact-us-wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 510px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input {
  width: 100%;
  height: 46px;
  margin-bottom: 25px;
  border: 1px solid #83a7a5;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input::-moz-placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:-ms-input-placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input::placeholder {
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #83a7a5;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus::-moz-placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus:-ms-input-placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-input:focus::placeholder {
  color: transparent;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message {
  height: 120px;
  resize: none;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message::-moz-placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message:-ms-input-placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form .contact-us-form-message::placeholder {
  padding-top: 13px;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form-submit {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  background-color: #6fb048;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.contact-us-content .contact-us-wrapper-form .contact-us-form-submit:hover {
  background-color: #83a7a5;
}
.contact-us-content .contact-us-headquarter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 340px;
  height: 270px;
  padding: 40px 0 0 40px;
  border: 2px dashed #83a7a5;
}
.contact-us-content .contact-us-headquarter .contact-us-headquater-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: #0f5f5c;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact-us-content .contact-us-headquarter .contact-us-list {
  margin-bottom: 25px;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item {
  display: flex;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item:first-child::before {
  content: url("../../assets/icons/location-icon.svg");
  width: 14px;
  height: 20px;
  margin-right: 15px;
}
.contact-us-content .contact-us-headquarter .contact-us-list .contact-us-list-item:not(:nth-child(1)) {
  margin-left: 29px;
}
.contact-us-content .contact-us-headquarter .contact-us-phone::before {
  margin-right: 9px;
  background-color: #6fb048;
}

a.contact-us-email {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #0f5f5c;
}
a.contact-us-email::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background-color: #6fb048;
  -webkit-mask-image: url("../../assets/icons/e-mail-icon.svg");
          mask-image: url("../../assets/icons/e-mail-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

@media (min-width: 320px) and (max-width: 450px) {
  .header-basic .right {
    height: 0;
    overflow: hidden;
  }
  .header-basic .nav-basic, .header-basic .nav-basic-alternative {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .header-basic .nav-basic li:first-child, .header-basic .nav-basic-alternative li:first-child {
    margin-top: 150px;
  }
  .header-basic .nav-basic-alternative {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .header-basic .nav-basic-alternative li:first-child {
    margin-top: 150px;
  }
  .header-basic .toggle {
    position: absolute;
    top: 28px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-basic .toggle .line {
    width: 80%;
    height: 2px;
    background: #6fb048;
    margin: 3px 0;
  }
  .header-basic.collapsed .logo-phone-basic {
    position: fixed;
    top: 32px;
    left: 30%;
    z-index: 44;
    flex-direction: column;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic {
    flex-direction: column;
    color: white;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
  }
  .header-basic.collapsed .nav-basic, .header-basic.collapsed .nav-basic-alternative {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic li, .header-basic.collapsed .nav-basic-alternative li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .nav-basic-alternative {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic-alternative li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .right {
    position: fixed;
    text-align: center;
    height: auto;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .header-basic.collapsed .toggle {
    position: fixed;
    top: 35px;
  }
  .header-basic.collapsed .toggle .line1 {
    transform: rotate(45deg) translateY(5px);
  }
  .header-basic.collapsed .toggle .line2 {
    opacity: 0;
  }
  .header-basic.collapsed .toggle .line3 {
    transform: rotate(-45deg) translateY(-5.5px);
  }

  .intro-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-page-intro {
    padding: 50px 0 90px;
  }

  .wrapper-title-basic .title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #0f5f5c;
    line-height: 100%;
  }

  .second-page-wrapper-title {
    margin: 55px 0 30px;
  }

  .wrapper-big-cards-basic {
    flex-direction: column;
    width: 100%;
  }
  .wrapper-big-cards-basic .big-card-basic {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrapper-big-cards-basic .big-card-basic .big-card-title-basic {
    margin: 15px 0 10px;
  }

  .line-reverse-T {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 25px;
  }
  .line-reverse-T .vertical-line {
    width: 2px;
    height: 30px;
    background-color: #f2f2f2;
  }
  .line-reverse-T .horizontal-line {
    width: 150px;
    height: 2px;
    background-color: #f2f2f2;
  }

  .wrapper-little-cards {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
    width: 100%;
    margin: 30px 0 45px;
  }
  .wrapper-little-cards .little-card .text-little-card {
    margin-top: 10px;
  }

  .third-page {
    padding: 45px 0;
  }

  .wrapper-third-page-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .wrapper-third-page-content .content-img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .wrapper-third-page-content .third-page-content {
    width: 100%;
    margin-top: 20px;
  }
  .wrapper-third-page-content .third-page-content .content-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #0f5f5c;
  }

  .fourth-page {
    flex-direction: column-reverse;
    padding: 45px 0;
  }
  .fourth-page .fourth-content {
    width: 100%;
  }
  .fourth-page .fourth-content .main {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
    color: #83a7a5;
  }

  .wrapper-image {
    width: 200px;
    height: 200px;
  }

  .fifth-page {
    padding: 45px 0;
  }
  .fifth-page .fifth-bg-image {
    height: 390px;
  }

  .fifth-content {
    width: 100%;
    margin: 88px 0;
  }
  .fifth-content .fifth-page-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #0f5f5c;
  }

  .sixth-page {
    padding: 45px 0;
  }

  .sixth-wrapper-cards {
    margin: 40px auto;
  }

  .sixth-page-wrapper-list {
    margin: 20px 0;
  }

  .wrapper-price-cards-basic {
    width: 75%;
    flex-direction: column;
  }
  .wrapper-price-cards-basic .price-card-basic {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #c1d3d2;
  }
  .wrapper-price-cards-basic .price-card-basic:last-child {
    border-bottom: none;
  }

  .wrapper-list-basic {
    display: grid;
    grid-template-columns: 100%;
  }

  .wrapper-special-title-basic .special-title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #6fb048;
  }
  .wrapper-special-title-basic .special-subtitle-basic {
    width: 100%;
  }

  .poster-basic .poster-page-basic {
    flex-direction: column;
    padding: 45px 0;
  }
  .poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-title-basic {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    color: #0f5f5c;
  }
  .poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-subtitle-basic {
    margin: 10px 0;
  }

  .info-page-basic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 200px);
    padding: 45px 0;
  }
  .info-page-basic .wrapper-info-basic {
    align-items: center;
    width: 100%;
  }

  .footer-basic .wrapper-icon-basic {
    width: 50%;
  }

  .about-us-first-page-intro {
    padding: 50px 0;
  }
  .about-us-first-page-intro .about-us-first-page-title {
    width: 80%;
    margin-bottom: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: white;
  }

  .about-us-wrapper-big-cards-basic {
    margin-bottom: 45px;
  }

  .about-us-third-page {
    padding-top: 45px;
  }

  .about-us-wrapper-third-page-content {
    flex-direction: column;
    padding: 35px 0 45px;
  }

  .contact-us-wrapper-title {
    margin: 45px 0;
  }

  .contact-us-content {
    width: 100%;
    flex-direction: column;
  }
  .contact-us-content .contact-us-wrapper-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-us-content .contact-us-headquarter {
    width: 100%;
  }
}
@media (min-width: 450px) and (max-width: 850px) {
  .header-basic .right {
    height: 0;
    overflow: hidden;
  }
  .header-basic .nav-basic, .header-basic .nav-basic-alternative {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }
  .header-basic .nav-basic li:first-child, .header-basic .nav-basic-alternative li:first-child {
    margin-top: 150px;
  }
  .header-basic .nav-basic-alternative {
    position: fixed;
    background: #0f5f5c;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }
  .header-basic .nav-basic-alternative li:first-child {
    margin-top: 150px;
  }
  .header-basic .toggle {
    position: absolute;
    top: 28px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-basic .toggle .line {
    width: 80%;
    height: 2px;
    background: #6fb048;
    margin: 3px 0;
  }
  .header-basic.collapsed .logo-phone-basic {
    position: fixed;
    top: 32px;
    left: 10%;
    z-index: 44;
    flex-direction: column;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic {
    flex-direction: column;
    color: white;
  }
  .header-basic.collapsed .logo-phone-basic .logo-basic::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
  }
  .header-basic.collapsed .nav-basic, .header-basic.collapsed .nav-basic-alternative {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic li, .header-basic.collapsed .nav-basic-alternative li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .nav-basic-alternative {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-basic.collapsed .nav-basic-alternative li {
    margin-bottom: 50px;
  }
  .header-basic.collapsed .right {
    position: fixed;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .header-basic.collapsed .toggle {
    position: fixed;
    top: 35px;
    left: 35%;
  }
  .header-basic.collapsed .toggle .line1 {
    transform: rotate(45deg) translateY(5px);
  }
  .header-basic.collapsed .toggle .line2 {
    opacity: 0;
  }
  .header-basic.collapsed .toggle .line3 {
    transform: rotate(-45deg) translateY(-5.5px);
  }

  .first-page-intro {
    padding: 100px 0;
  }

  .wrapper-title-basic .title-basic {
    line-height: 100%;
  }

  .wrapper-big-cards-basic {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .wrapper-big-cards-basic .big-card-basic {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrapper-big-cards-basic .big-card-basic .big-card-title-basic {
    margin: 15px 0 10px;
  }

  .line-reverse-T {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 25px;
  }
  .line-reverse-T .vertical-line {
    width: 2px;
    height: 30px;
    background-color: #f2f2f2;
  }
  .line-reverse-T .horizontal-line {
    width: 150px;
    height: 2px;
    background-color: #f2f2f2;
  }

  .wrapper-third-page-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 70px;
  }
  .wrapper-third-page-content .content-img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
  .wrapper-third-page-content .third-page-content {
    width: 100%;
    margin-top: 20px;
  }

  .fourth-page {
    flex-direction: column-reverse;
    padding: 65px 0;
  }

  .fourth-content {
    width: 100%;
  }

  .wrapper-image {
    width: 300px;
    height: 300px;
  }

  .fifth-content {
    width: 100%;
    margin: 88px 0;
  }

  .wrapper-price-cards-basic {
    width: 100%;
  }
  .wrapper-price-cards-basic .price-card-basic {
    width: 100%;
  }

  .wrapper-list-basic {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    -moz-column-gap: 45px;
         column-gap: 45px;
  }

  .poster-basic .poster-page-basic {
    flex-direction: column;
    padding: 45px 0;
  }
  .poster-basic .poster-page-basic .wrapper-poster-title-basic .poster-subtitle-basic {
    margin: 10px 0;
  }

  .info-page-basic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 200px);
    padding: 45px 0;
  }
  .info-page-basic .wrapper-info-basic {
    align-items: center;
    width: 100%;
  }

  .footer-basic .wrapper-icon-basic {
    justify-content: flex-end;
    width: 50%;
  }
  .footer-basic .wrapper-icon-basic .icon-basic {
    margin-right: 10px;
  }
  .footer-basic .wrapper-icon-basic .icon-basic:last-child {
    margin-right: 0;
  }

  .about-us-wrapper-third-page-content {
    flex-direction: column;
    padding: 55px 0 75px;
  }

  .contact-us-wrapper-title {
    margin: 45px 0;
  }

  .contact-us-content {
    width: 100%;
  }
  .contact-us-content .contact-us-headquarter {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */