// Main colors:
$WHITE: rgb(255, 255, 255);
$FOREST-WOLF: rgb(238, 241, 236);
$DARK-YELLOW-GREEN:rgb(111, 176, 72);
$PASTEL-TIRQUOISE: rgb(131, 167, 165);
$DARK-TIRQUOISE: rgb(15, 95, 92);
// Background colors:
$bg-color-first-page: rgba(45, 110, 112, .9);
// Background colors of buttons:
$bg-color-button-menu: rgba(255, 255, 255, .35);
$bg-color-about-us-poster-button: rgb(73, 115, 47);
// Background colors of lines:
$bg-color-line: rgba(255, 255, 255, .2);
$bg-color-line-alternative: rgb(242, 242, 242);
$bg-color-line-border: rgb(193, 211, 210);
// Background colors of icons:
$bg-color-twitter-icon: rgb(85, 172, 238);
$bg-color-facebook-icon: rgb(59, 89, 152);
$bg-color-instagram-icon: rgb(63, 114, 155);
$bg-color-dribbble-icon: rgb(234, 76, 137);
$bg-color-github-icon: rgb(51, 51, 51);
// Colors of texts:
$color-menu: rgba(255, 255, 255, .7);
$color-menu-alternative: rgba(131, 167, 165, .7);